html body {
  .only-desktop {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;

    h1 {
      padding-top: 0;
      font-size: 2.5rem;
    }

    p{
      font-size: 1.5rem;
    }
    img {
      width: auto;
      height: 55vh;
      max-height: 100%;
      margin: 0 auto;
      padding: 0 40px;
      position: relative;
      top: 70px;
    }

    * {
      font-family: carlmarx, sans-serif;
      font-style: normal;
      font-weight: 400;
    }

    > div {
      padding: 0 40px;
      width: auto;
      margin: 0 auto;
    }

    @include media('mobile') {
      flex-direction: column;
      > div {
        margin: 0;
      }
      img {
        width: 60%;
        top: 0;
        margin-top: 30px;
        position: initial;
        margin-bottom: 100px;
      }

    }
    @include media('large-desktop') {
      display: none;
    }
    @media (orientation: landscape) and (max-device-width : $tablet) {
      img {
        position: initial;
        > div {
          margin: 0;
        }
      }
    }
    @media screen and (orientation: landscape) and (max-height: 750px){
      display: flex;
    }

  }
}
