$containerWidth: 1200px;
$blue: #446DDE;
$blue-light: #6289C6;
$red: #E12547;
$red-center: #F2355F;
$red-light: #E75C79;
$white: #FFFFFF;
$grey: #eeeeee;

// Medias
$mobile  :  480px;
$tablet  : 1024px;
$desktop : 1280px;
